/*
  reset.css contains both a reset and some base styles.
*/

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body { line-height:1; }

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { display:block; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

input, select { vertical-align:middle; }

/*
fonts.css from the YUI Library: http://developer.yahoo.com/yui/
refer to http://developer.yahoo.com/yui/fonts/ for font sizing
*/
body { font:13px arial,helvetica,clean,sans-serif; *font-size:small; *font:x-small; }

select, input, textarea { font:99% arial,helvetica,clean,sans-serif; }

body * { line-height:1.22em; }

/* always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* styling the basics.
   original author: paul irish
   TODO: consider: http://developer.yahoo.com/yui/base/ */

body, select, input, textarea { color:#444; /* looks better than black: http://twitter.com/H_FJ/statuses/11800719859 */ }

strong, th, h1,h2,h3,h4,h5,h6 { font-weight: bold; }

h3 { font-size:107%; margin:13px 0 3px; }
h2 { font-size:122%; margin:15px 0 3px; }
h1 { font-size:136%; margin:0 0 10px; }

p { margin:15px 0 10px; }

a, a:active { color:#607890; }
a:visited  { color:#607890; }
a:hover { color:#036; }

ul { margin-left:30px; }

small { font-size:85%; }

.css-chart p a:focus,
.css-chart p a:active { outline: 0;}
