/*
  reset.css contains both a reset and some base styles.
*/

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body { line-height:1; }

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { display:block; }

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

/* change colours to suit your needs */
ins { background-color:#ff9; color:#000; text-decoration:none; }

/* change colours to suit your needs */
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

table { border-collapse:collapse; border-spacing:0; }

/* change border colour to suit your needs */
hr { display:block; height:1px; border:0; border-top:1px solid #cccccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }


/*
fonts.css from the YUI Library: http://developer.yahoo.com/yui/
refer to http://developer.yahoo.com/yui/fonts/ for font sizing
*/
body { font:13px arial,helvetica,clean,sans-serif; *font-size:small; *font:x-small; }

table { font-size:inherit; font:100%; }

select, input, textarea { font:99% arial,helvetica,clean,sans-serif; }

pre, code { font:115% monospace; *font-size:100%; }

body * { line-height:1.22em; }


/* always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* make buttons play nice in IE: http://www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }


/* bicubic resizing for non-native sized IMG: http://code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }



/* styling the basics.
   original author: paul irish
   TODO: consider: http://developer.yahoo.com/yui/base/ */

body, select, input, textarea { color:#444; /* looks better than black: http://twitter.com/H_FJ/statuses/11800719859 */ }

strong, th, h1,h2,h3,h4,h5,h6 { font-weight: bold; }

h5 { font-size:85%; margin:8px 0 1px; }
h4 { font-size:92%; margin:10px 0 2px; }
h3 { font-size:107%; margin:13px 0 3px; }
h2 { font-size:122%; margin:15px 0 3px; }
h1 { font-size:136%; margin:0 0 10px; }

p { margin:15px 0 10px; }

a, a:active { color:#607890; }
a:visited  { color:#607890; }
a:hover { color:#036; }

ul { margin-left:30px; }
ol { margin-left:30px; list-style-type: decimal; }

small { font-size:85%; }

td { vertical-align:top; }
td img { vertical-align:top; }

/* for image replacement */
.ir { display:block; text-indent:-999px; overflow:hidden; background-repeat: none; }

.hidden { display:none; visibility:hidden; } /* Hide for both screenreaders and browsers */
.visuallyhidden { position:absolute; left:-10000px; top:auto; width:1px; height:1px; overflow:hidden; } /* Hide only visually, but have it available for screenreaders http://www.webaim.org/techniques/css/invisiblecontent/ */
.invisible { visibility: hidden; }




.css-chart p a:focus,
.css-chart p a:active { outline: 0;}

/*
	===================================
	>> CSS BUG HACKS <<
	===================================
*/
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */


html { background: #78909c; }

body { background: #78909c; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #51545b), color-stop(1, #78909c)); background-image: -webkit-linear-gradient(#51545b, #78909c); background-image: -moz-linear-gradient(#51545b, #78909c); background-image: -ms-linear-gradient(#51545b, #78909c); background-image: -o-linear-gradient(#51545b, #78909c); color: #f2efde; font-family: "Gill Sans", Calibri, "DejaVu Sans", sans-serif; }

a, a:visited, a:active { text-decoration: none; color: black; font-weight: bold; font-size: 1em; -webkit-transition: color 0.2s linear; -moz-transition: color 0.2s linear; -ms-transition: color 0.2s linear; -o-transition: color 0.2s linear; }

a:hover, a.selected { color: #fbe762; }

div.css-chart { background-image: -webkit-gradient(radial, 482 482, 250, 480 484, 400, from(rgba(90, 100, 112, 0.5)), to(rgba(0, 0, 0, 0))); background-image: -webkit-radial-gradient(482px 482px, circle, rgba(90, 100, 112, 0.5) 250px, rgba(0, 0, 0, 0) 400px); background-image: -moz-radial-gradient(482px 482px, circle, rgba(90, 100, 112, 0.5) 250px, rgba(0, 0, 0, 0) 400px); background-image: -ms-radial-gradient(482px 482px, circle, rgba(90, 100, 112, 0.5) 250px, rgba(0, 0, 0, 0) 400px); background-image: -o-radial-gradient(482px 482px, circle, rgba(90, 100, 112, 0.5) 250px, rgba(0, 0, 0, 0) 400px); margin: 0 auto 0 auto; width: 964px; height: 530px; position: relative; }
div.css-chart p { display: block; position: absolute; bottom: -10px; left: 482px; background: rgba(74, 65, 70, 0.1); width: 282px; height: 23px; border: 0; padding: 0 0 0 200px; -webkit-transition: background 0.2s ease-out; -moz-transition: background 0.2s ease-out; -ms-transition: background 0.2s ease-out; -o-transition: background 0.2s ease-out; }
div.css-chart p:hover { background: #4a4146; }
div.css-chart p.css3 { background: rgba(74, 65, 70, 0.1); }
div.css-chart p.css3:hover { background: rgba(190, 211, 100, 0.2); }
div.css-chart p em { position: absolute; bottom: 0; left: 0; width: 100%; height: 23px; }
div.css-chart p em b { opacity: 0; -webkit-transition: opacity 1s ease-in; -moz-transition: opacity 1s ease-in; -ms-transition: opacity 1s ease-in; -o-transition: opacity 1s ease-in; }
.twenty11 div.css-chart p em.twenty11 b, .twenty10 div.css-chart p em.twenty10 b, .twenty09 div.css-chart p em.twenty09 b, .twenty08 div.css-chart p em.twenty08 b { opacity: 1; }
div.css-chart p a { display: block; width: 100%; height: 100%; font-weight: normal; -webkit-transition: none; position: relative; }
div.css-chart p i { opacity: 0; position: absolute; top: 0; right: 284px; width: 400px; z-index: 4; display: block; height: auto; color: #f2efde; padding: 10px; text-align: center; -webkit-border-radius: 0.5em; -moz-border-radius: 0.5em; border-radius: 0.5em; text-shadow: 1px 1px 0 black, 2px 2px 0 black, 3px 3px 0 black, 4px 4px 0 black, 5px 5px 0px black; -webkit-transition: opacity 0.2s ease-in; -moz-transition: opacity 0.2s ease-in; -ms-transition: opacity 0.2s ease-in; -o-transition: opacity 0.2s ease-in; text-transform: uppercase; font-size: 28px; }
div.css-chart p:hover i { opacity: 1; }
div.css-chart p b { width: 12.5%; display: block; height: 23px; float: left; }

b.ie6 { background-color: rgba(218, 168, 192, 0.6); }
b.ie7 { background-color: rgba(222, 146, 159, 0.6); }
b.ie8 { background-color: rgba(131, 72, 92, 0.6); }
b.ie9 { background-color: rgba(233, 83, 120, 0.6); }
b.ff20 { background-color: rgba(66, 147, 194, 0.6); }
b.ff30 { background-color: rgba(74, 188, 241, 0.6); }
b.ff35 { background-color: rgba(59, 144, 175, 0.6); }
b.ff36 { background-color: rgba(69, 167, 203, 0.6); }
b.ff40 { background-color: rgba(69, 189, 222, 0.6); }
b.op95 { background-color: rgba(161, 45, 13, 0.6); }
b.op96 { background-color: rgba(197, 46, 16, 0.6); }
b.op { background-color: rgba(226, 79, 45, 0.6); }
b.ch2 { background-color: rgba(207, 133, 27, 0.6); }
b.ch { background-color: rgba(245, 155, 58, 0.6); }
b.sa31 { background-color: rgba(190, 183, 64, 0.6); }
b.sa32 { background-color: rgba(216, 184, 73, 0.6); }
b.sa { background-color: rgba(251, 231, 98, 0.6); }

ul { position: fixed; top: 40px; left: 40px; width: 108px; }
ul li li { opacity: 0; -webkit-transition: opacity 1s ease-in; -moz-transition: opacity 1s ease-in; -ms-transition: opacity 1s ease-in; -o-transition: opacity 1s ease-in; }
ul li { list-style: none; padding: 0 0 0.5em 0; width: 200px; float: left; text-transform: uppercase; }
.twenty11 ul .twenty11 li, .twenty10 ul .twenty10 li, .twenty09 ul .twenty09 li, .twenty08 ul .twenty08 li { opacity: 1; }

li b { display: inline-block; width: 20px; height: 20px; -webkit-border-radius: 20em; -moz-border-radius: 20em; border-radius: 20em; }

#ray-1 { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); -webkit-transform-origin: 0% 50%; -moz-transform-origin: 0% 50%; -ms-transform-origin: 0% 50%; -o-transform-origin: 0% 50%; }
#ray-1 i { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; }

#ray-2 { -webkit-transform: rotate(-6.429deg); -moz-transform: rotate(-6.429deg); -ms-transform: rotate(-6.429deg); -o-transform: rotate(-6.429deg); -webkit-transform-origin: 0% 50%; -moz-transform-origin: 0% 50%; -ms-transform-origin: 0% 50%; -o-transform-origin: 0% 50%; }
#ray-2 i { -webkit-transform: rotate(6.429deg); -moz-transform: rotate(6.429deg); -ms-transform: rotate(6.429deg); -o-transform: rotate(6.429deg); -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; }

#ray-3 { -webkit-transform: rotate(-12.858deg); -moz-transform: rotate(-12.858deg); -ms-transform: rotate(-12.858deg); -o-transform: rotate(-12.858deg); -webkit-transform-origin: 0% 50%; -moz-transform-origin: 0% 50%; -ms-transform-origin: 0% 50%; -o-transform-origin: 0% 50%; }
#ray-3 i { -webkit-transform: rotate(12.858deg); -moz-transform: rotate(12.858deg); -ms-transform: rotate(12.858deg); -o-transform: rotate(12.858deg); -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; }

#ray-4 { -webkit-transform: rotate(-19.287deg); -moz-transform: rotate(-19.287deg); -ms-transform: rotate(-19.287deg); -o-transform: rotate(-19.287deg); -webkit-transform-origin: 0% 50%; -moz-transform-origin: 0% 50%; -ms-transform-origin: 0% 50%; -o-transform-origin: 0% 50%; }
#ray-4 i { -webkit-transform: rotate(19.287deg); -moz-transform: rotate(19.287deg); -ms-transform: rotate(19.287deg); -o-transform: rotate(19.287deg); -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; }

#ray-5 { -webkit-transform: rotate(-25.716deg); -moz-transform: rotate(-25.716deg); -ms-transform: rotate(-25.716deg); -o-transform: rotate(-25.716deg); -webkit-transform-origin: 0% 50%; -moz-transform-origin: 0% 50%; -ms-transform-origin: 0% 50%; -o-transform-origin: 0% 50%; }
#ray-5 i { -webkit-transform: rotate(25.716deg); -moz-transform: rotate(25.716deg); -ms-transform: rotate(25.716deg); -o-transform: rotate(25.716deg); -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; }

#ray-6 { -webkit-transform: rotate(-32.145deg); -moz-transform: rotate(-32.145deg); -ms-transform: rotate(-32.145deg); -o-transform: rotate(-32.145deg); -webkit-transform-origin: 0% 50%; -moz-transform-origin: 0% 50%; -ms-transform-origin: 0% 50%; -o-transform-origin: 0% 50%; }
#ray-6 i { -webkit-transform: rotate(32.145deg); -moz-transform: rotate(32.145deg); -ms-transform: rotate(32.145deg); -o-transform: rotate(32.145deg); -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; }

#ray-7 { -webkit-transform: rotate(-38.574deg); -moz-transform: rotate(-38.574deg); -ms-transform: rotate(-38.574deg); -o-transform: rotate(-38.574deg); -webkit-transform-origin: 0% 50%; -moz-transform-origin: 0% 50%; -ms-transform-origin: 0% 50%; -o-transform-origin: 0% 50%; }
#ray-7 i { -webkit-transform: rotate(38.574deg); -moz-transform: rotate(38.574deg); -ms-transform: rotate(38.574deg); -o-transform: rotate(38.574deg); -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; }

#ray-8 { -webkit-transform: rotate(-45.003deg); -moz-transform: rotate(-45.003deg); -ms-transform: rotate(-45.003deg); -o-transform: rotate(-45.003deg); -webkit-transform-origin: 0% 50%; -moz-transform-origin: 0% 50%; -ms-transform-origin: 0% 50%; -o-transform-origin: 0% 50%; }
#ray-8 i { -webkit-transform: rotate(45.003deg); -moz-transform: rotate(45.003deg); -ms-transform: rotate(45.003deg); -o-transform: rotate(45.003deg); -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; }

#ray-9 { -webkit-transform: rotate(-51.432deg); -moz-transform: rotate(-51.432deg); -ms-transform: rotate(-51.432deg); -o-transform: rotate(-51.432deg); -webkit-transform-origin: 0% 50%; -moz-transform-origin: 0% 50%; -ms-transform-origin: 0% 50%; -o-transform-origin: 0% 50%; }
#ray-9 i { -webkit-transform: rotate(51.432deg); -moz-transform: rotate(51.432deg); -ms-transform: rotate(51.432deg); -o-transform: rotate(51.432deg); -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; }

#ray-10 { -webkit-transform: rotate(-57.861deg); -moz-transform: rotate(-57.861deg); -ms-transform: rotate(-57.861deg); -o-transform: rotate(-57.861deg); -webkit-transform-origin: 0% 50%; -moz-transform-origin: 0% 50%; -ms-transform-origin: 0% 50%; -o-transform-origin: 0% 50%; }
#ray-10 i { -webkit-transform: rotate(57.861deg); -moz-transform: rotate(57.861deg); -ms-transform: rotate(57.861deg); -o-transform: rotate(57.861deg); -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; }

#ray-11 { -webkit-transform: rotate(-64.29deg); -moz-transform: rotate(-64.29deg); -ms-transform: rotate(-64.29deg); -o-transform: rotate(-64.29deg); -webkit-transform-origin: 0% 50%; -moz-transform-origin: 0% 50%; -ms-transform-origin: 0% 50%; -o-transform-origin: 0% 50%; }
#ray-11 i { -webkit-transform: rotate(64.29deg); -moz-transform: rotate(64.29deg); -ms-transform: rotate(64.29deg); -o-transform: rotate(64.29deg); -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; }

#ray-12 { -webkit-transform: rotate(-70.719deg); -moz-transform: rotate(-70.719deg); -ms-transform: rotate(-70.719deg); -o-transform: rotate(-70.719deg); -webkit-transform-origin: 0% 50%; -moz-transform-origin: 0% 50%; -ms-transform-origin: 0% 50%; -o-transform-origin: 0% 50%; }
#ray-12 i { -webkit-transform: rotate(70.719deg); -moz-transform: rotate(70.719deg); -ms-transform: rotate(70.719deg); -o-transform: rotate(70.719deg); -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; }

#ray-13 { -webkit-transform: rotate(-77.148deg); -moz-transform: rotate(-77.148deg); -ms-transform: rotate(-77.148deg); -o-transform: rotate(-77.148deg); -webkit-transform-origin: 0% 50%; -moz-transform-origin: 0% 50%; -ms-transform-origin: 0% 50%; -o-transform-origin: 0% 50%; }
#ray-13 i { -webkit-transform: rotate(77.148deg); -moz-transform: rotate(77.148deg); -ms-transform: rotate(77.148deg); -o-transform: rotate(77.148deg); -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; }

#ray-14 { -webkit-transform: rotate(-83.577deg); -moz-transform: rotate(-83.577deg); -ms-transform: rotate(-83.577deg); -o-transform: rotate(-83.577deg); -webkit-transform-origin: 0% 50%; -moz-transform-origin: 0% 50%; -ms-transform-origin: 0% 50%; -o-transform-origin: 0% 50%; }
#ray-14 i { -webkit-transform: rotate(83.577deg); -moz-transform: rotate(83.577deg); -ms-transform: rotate(83.577deg); -o-transform: rotate(83.577deg); -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; }

#ray-15 { -webkit-transform: rotate(-90.006deg); -moz-transform: rotate(-90.006deg); -ms-transform: rotate(-90.006deg); -o-transform: rotate(-90.006deg); -webkit-transform-origin: 0% 50%; -moz-transform-origin: 0% 50%; -ms-transform-origin: 0% 50%; -o-transform-origin: 0% 50%; }
#ray-15 i { -webkit-transform: rotate(90.006deg); -moz-transform: rotate(90.006deg); -ms-transform: rotate(90.006deg); -o-transform: rotate(90.006deg); -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; }

#ray-16 { -webkit-transform: rotate(-96.435deg); -moz-transform: rotate(-96.435deg); -ms-transform: rotate(-96.435deg); -o-transform: rotate(-96.435deg); -webkit-transform-origin: 0% 50%; -moz-transform-origin: 0% 50%; -ms-transform-origin: 0% 50%; -o-transform-origin: 0% 50%; }
#ray-16 i { -webkit-transform: rotate(96.435deg); -moz-transform: rotate(96.435deg); -ms-transform: rotate(96.435deg); -o-transform: rotate(96.435deg); -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; }

#ray-17 { -webkit-transform: rotate(-102.864deg); -moz-transform: rotate(-102.864deg); -ms-transform: rotate(-102.864deg); -o-transform: rotate(-102.864deg); -webkit-transform-origin: 0% 50%; -moz-transform-origin: 0% 50%; -ms-transform-origin: 0% 50%; -o-transform-origin: 0% 50%; }
#ray-17 i { -webkit-transform: rotate(102.864deg); -moz-transform: rotate(102.864deg); -ms-transform: rotate(102.864deg); -o-transform: rotate(102.864deg); -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; }

#ray-18 { -webkit-transform: rotate(-109.293deg); -moz-transform: rotate(-109.293deg); -ms-transform: rotate(-109.293deg); -o-transform: rotate(-109.293deg); -webkit-transform-origin: 0% 50%; -moz-transform-origin: 0% 50%; -ms-transform-origin: 0% 50%; -o-transform-origin: 0% 50%; }
#ray-18 i { -webkit-transform: rotate(109.293deg); -moz-transform: rotate(109.293deg); -ms-transform: rotate(109.293deg); -o-transform: rotate(109.293deg); -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; }

#ray-19 { -webkit-transform: rotate(-115.722deg); -moz-transform: rotate(-115.722deg); -ms-transform: rotate(-115.722deg); -o-transform: rotate(-115.722deg); -webkit-transform-origin: 0% 50%; -moz-transform-origin: 0% 50%; -ms-transform-origin: 0% 50%; -o-transform-origin: 0% 50%; }
#ray-19 i { -webkit-transform: rotate(115.722deg); -moz-transform: rotate(115.722deg); -ms-transform: rotate(115.722deg); -o-transform: rotate(115.722deg); -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; }

#ray-20 { -webkit-transform: rotate(-122.151deg); -moz-transform: rotate(-122.151deg); -ms-transform: rotate(-122.151deg); -o-transform: rotate(-122.151deg); -webkit-transform-origin: 0% 50%; -moz-transform-origin: 0% 50%; -ms-transform-origin: 0% 50%; -o-transform-origin: 0% 50%; }
#ray-20 i { -webkit-transform: rotate(122.151deg); -moz-transform: rotate(122.151deg); -ms-transform: rotate(122.151deg); -o-transform: rotate(122.151deg); -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; }

#ray-21 { -webkit-transform: rotate(-128.58deg); -moz-transform: rotate(-128.58deg); -ms-transform: rotate(-128.58deg); -o-transform: rotate(-128.58deg); -webkit-transform-origin: 0% 50%; -moz-transform-origin: 0% 50%; -ms-transform-origin: 0% 50%; -o-transform-origin: 0% 50%; }
#ray-21 i { -webkit-transform: rotate(128.58deg); -moz-transform: rotate(128.58deg); -ms-transform: rotate(128.58deg); -o-transform: rotate(128.58deg); -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; }

#ray-22 { -webkit-transform: rotate(-135.009deg); -moz-transform: rotate(-135.009deg); -ms-transform: rotate(-135.009deg); -o-transform: rotate(-135.009deg); -webkit-transform-origin: 0% 50%; -moz-transform-origin: 0% 50%; -ms-transform-origin: 0% 50%; -o-transform-origin: 0% 50%; }
#ray-22 i { -webkit-transform: rotate(135.009deg); -moz-transform: rotate(135.009deg); -ms-transform: rotate(135.009deg); -o-transform: rotate(135.009deg); -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; }

#ray-23 { -webkit-transform: rotate(-141.438deg); -moz-transform: rotate(-141.438deg); -ms-transform: rotate(-141.438deg); -o-transform: rotate(-141.438deg); -webkit-transform-origin: 0% 50%; -moz-transform-origin: 0% 50%; -ms-transform-origin: 0% 50%; -o-transform-origin: 0% 50%; }
#ray-23 i { -webkit-transform: rotate(141.438deg); -moz-transform: rotate(141.438deg); -ms-transform: rotate(141.438deg); -o-transform: rotate(141.438deg); -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; }

#ray-24 { -webkit-transform: rotate(-147.867deg); -moz-transform: rotate(-147.867deg); -ms-transform: rotate(-147.867deg); -o-transform: rotate(-147.867deg); -webkit-transform-origin: 0% 50%; -moz-transform-origin: 0% 50%; -ms-transform-origin: 0% 50%; -o-transform-origin: 0% 50%; }
#ray-24 i { -webkit-transform: rotate(147.867deg); -moz-transform: rotate(147.867deg); -ms-transform: rotate(147.867deg); -o-transform: rotate(147.867deg); -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; }

#ray-25 { -webkit-transform: rotate(-154.296deg); -moz-transform: rotate(-154.296deg); -ms-transform: rotate(-154.296deg); -o-transform: rotate(-154.296deg); -webkit-transform-origin: 0% 50%; -moz-transform-origin: 0% 50%; -ms-transform-origin: 0% 50%; -o-transform-origin: 0% 50%; }
#ray-25 i { -webkit-transform: rotate(154.296deg); -moz-transform: rotate(154.296deg); -ms-transform: rotate(154.296deg); -o-transform: rotate(154.296deg); -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; }

#ray-26 { -webkit-transform: rotate(-160.725deg); -moz-transform: rotate(-160.725deg); -ms-transform: rotate(-160.725deg); -o-transform: rotate(-160.725deg); -webkit-transform-origin: 0% 50%; -moz-transform-origin: 0% 50%; -ms-transform-origin: 0% 50%; -o-transform-origin: 0% 50%; }
#ray-26 i { -webkit-transform: rotate(160.725deg); -moz-transform: rotate(160.725deg); -ms-transform: rotate(160.725deg); -o-transform: rotate(160.725deg); -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; }

#ray-27 { -webkit-transform: rotate(-167.154deg); -moz-transform: rotate(-167.154deg); -ms-transform: rotate(-167.154deg); -o-transform: rotate(-167.154deg); -webkit-transform-origin: 0% 50%; -moz-transform-origin: 0% 50%; -ms-transform-origin: 0% 50%; -o-transform-origin: 0% 50%; }
#ray-27 i { -webkit-transform: rotate(167.154deg); -moz-transform: rotate(167.154deg); -ms-transform: rotate(167.154deg); -o-transform: rotate(167.154deg); -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; }

#ray-28 { -webkit-transform: rotate(-173.583deg); -moz-transform: rotate(-173.583deg); -ms-transform: rotate(-173.583deg); -o-transform: rotate(-173.583deg); -webkit-transform-origin: 0% 50%; -moz-transform-origin: 0% 50%; -ms-transform-origin: 0% 50%; -o-transform-origin: 0% 50%; }
#ray-28 i { -webkit-transform: rotate(173.583deg); -moz-transform: rotate(173.583deg); -ms-transform: rotate(173.583deg); -o-transform: rotate(173.583deg); -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; }

#ray-29 { -webkit-transform: rotate(-180.012deg); -moz-transform: rotate(-180.012deg); -ms-transform: rotate(-180.012deg); -o-transform: rotate(-180.012deg); -webkit-transform-origin: 0% 50%; -moz-transform-origin: 0% 50%; -ms-transform-origin: 0% 50%; -o-transform-origin: 0% 50%; }
#ray-29 i { -webkit-transform: rotate(180.012deg); -moz-transform: rotate(180.012deg); -ms-transform: rotate(180.012deg); -o-transform: rotate(180.012deg); -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; }

#header h1, #header h3 { text-align: center; text-transform: uppercase; font-size: 3em; font-weight: bold; margin: 0 1em; padding: 0.5em 0 0; text-shadow: 1px 1px 0px black; }
#header h1 b, #header h3 b { color: #362f34; }
#header h1 i, #header h3 i { color: #bed364; font-style: normal; }
#header h3 { margin-top: 5px; font-size: 1.5em; }
#header h3 a { text-shadow: none; }
#header aside { position: fixed; top: 40px; right: 40px; width: 160px; z-index: 10; }

/* quick kills */
#body .twenty10 .ie9, #footer p label { display: none !important; }

#footer { margin-top: 26px; width: 100%; }
#footer p { text-align: center; text-transform: uppercase; }

::-moz-selection, ::selection { background: #ff5e99; color: white; text-shadow: none; }

/* http://twitter.com/miketaylr/status/12228805301 */
/* http://j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #ff5e99; }

@media all and (orientation:portrait) { /* Style adjustments for portrait mode goes here */ }
@media all and (orientation:landscape) { /* Style adjustments for landscape mode goes here */ }
@media screen and (max-device-width: 480px) { /* All Capable Mobile Browser (Opera Mobile, iPhone Safari, Android Chrome) CSS goes here */
  html { -webkit-text-size-adjust: none; }
  p:target i { opacity: 1; }
  p.css3:target { background: rgba(190, 211, 100, 0.2); } }
